@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body{
  color: gray;
}
main{
  padding-bottom: 35px;
}
h1{
  font-family: "Poiret One", sans-serif;
  font-size: 4vh;
  text-align: center;
  font-weight: bold;
}
section{
  margin-bottom: 50px;
}
section:first-child h1{
  padding-top: 90px;
  margin-bottom: 20px;
}
section:nth-child(n+2) h1{
  margin: 20px 0;
}
p{
  font-size: 1.1vh;
  font-family: "M PLUS 1 Code", monospace;
}
/* グリッド */
.course-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 2vw;
}
.course-item {
  text-align: center;
  width: 30%;
}
.course-item img {
  cursor: pointer;
  width: 90%;
  margin-bottom: 0.5vw;
}
.section {
  padding: 60px;
}
/* 画像拡大 */
#grayDisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100% !important;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
#grayDisplay img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  height: 90%;
  object-fit: contain;
  padding-top: 55px;
}
/* ローディング */
#loading{
  background-color: gray;
  position:fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
}
#loading-screen{
  background-color: #f0f0f0;
  position: fixed;
  inset: 0;
  z-index: 9998;
  translate: 0 100vh;
}
#loading p{
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #f0f0f0;
}
